<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IntegratedServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>lecture464.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>lecture464.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>lecture464.servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppartmentSearchQuery</display-name>
    <servlet-name>AppartmentSearchQuery</servlet-name>
    <servlet-class>lecture464.servlet.AppartmentSearchQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppartmentSearchQuery</servlet-name>
    <url-pattern>/AppartmentSearchQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResults</display-name>
    <servlet-name>SearchResults</servlet-name>
    <servlet-class>lecture464.servlet.SearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResults</servlet-name>
    <url-pattern>/SearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>lecture464.servlet.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applyandview</display-name>
    <servlet-name>Applyandview</servlet-name>
    <servlet-class>lecture464.servlet.Applyandview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyandview</servlet-name>
    <url-pattern>/Applyandview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationManage</display-name>
    <servlet-name>ApplicationManage</servlet-name>
    <servlet-class>lecture464.servlet.ApplicationManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationManage</servlet-name>
    <url-pattern>/ApplicationManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>lecture464.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionConfirmationNew</display-name>
    <servlet-name>TransactionConfirmationNew</servlet-name>
    <servlet-class>lecture464.servlet.TransactionConfirmationNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionConfirmationNew</servlet-name>
    <url-pattern>/TransactionConfirmationNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tran</display-name>
    <servlet-name>Tran</servlet-name>
    <servlet-class>lecture464.servlet.Tran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tran</servlet-name>
    <url-pattern>/Tran</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelApplication</display-name>
    <servlet-name>CancelApplication</servlet-name>
    <servlet-class>lecture464.servlet.CancelApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelApplication</servlet-name>
    <url-pattern>/CancelApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelConfirm</display-name>
    <servlet-name>CancelConfirm</servlet-name>
    <servlet-class>lecture464.servlet.CancelConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelConfirm</servlet-name>
    <url-pattern>/CancelConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankServlet</display-name>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>lecture464.servlet.BankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationUpdate</display-name>
    <servlet-name>ApplicationUpdate</servlet-name>
    <servlet-class>lecture464.servlet.ApplicationUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationUpdate</servlet-name>
    <url-pattern>/ApplicationUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shopCart</display-name>
    <servlet-name>shopCart</servlet-name>
    <servlet-class>lecture464.servlet.shopCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopCart</servlet-name>
    <url-pattern>/shopCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remove</display-name>
    <servlet-name>remove</servlet-name>
    <servlet-class>lecture464.servlet.remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
</web-app>